In [1]:
import surprise
import numpy
import pandas as pd

In [2]:
from surprise import Dataset, Reader

stUserjev = 50 #stevilo koliko userjev bomo ocenjevali
stFilmov = 50 #stevilo koliko filmov bomo ocenjevali

raw = pd.read_csv('ratings.csv') #preberi csv
raw = raw[["userId","movieId","rating"]] #izloči nepotrebne stolpce

reader = Reader(rating_scale=(1,5)) #nastavi skalo od 1 do 5
data = Dataset.load_from_df(raw, reader)

In [3]:
from surprise.model_selection import train_test_split

#nastavi trainset-testset 0.8-0.2
trainset, testset = train_test_split(data,test_size=0.2)

In [4]:
from surprise import KNNBasic

#uporabi KNN algoritem
predictor = KNNBasic()

#treniraj algoritem na trainsetu
predictor.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [5]:
#pivotiraj tabelo, NA->0
user_movie = raw.pivot_table(index='userId',columns='movieId',values= 'rating')
user_movie = user_movie.fillna(0)
user_movie_knn = user_movie
user_movie_algo = user_movie
user_movie_naive = user_movie

In [6]:
#prikazi original tabelo kako izgleda
user_movie.head(10)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,4.0,5.0,3.0,5.0,4.0,4.0,3.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
#Vstavi predvidene ocene ki s pomočjo KNN algoritma za vsakega userja

for i in range(stUserjev):  #usersLen
    for j in range(stFilmov): #moviesLen
        sample = user_movie_knn.sample(1)
        user_id = i
        book_id = j # id od enega sampla
        

        p = predictor.predict(uid=user_id, iid=book_id)
        predicted_rating = p.est
        predicted_rating = str(round(predicted_rating, 2))

        user_movie_knn.iloc[i][j] = predicted_rating

In [8]:
user_movie_knn.head(10)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,3.50,3.50,3.50,3.50,3.50,3.50,3.50,3.50,3.50,3.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.17,3.75,3.48,2.53,3.17,4.10,3.28,2.83,3.04,3.64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.91,3.43,3.42,2.17,2.66,4.11,3.04,3.00,2.02,3.64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.47,2.96,3.11,2.49,2.94,3.86,3.04,2.51,3.34,3.59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.08,3.39,3.41,2.35,3.08,3.99,3.22,2.85,3.10,3.68,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,3.84,3.31,3.33,2.30,3.05,3.82,3.11,2.80,3.26,3.54,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,3.89,3.80,3.52,2.53,3.24,3.96,3.35,2.81,3.14,3.64,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,4.17,3.83,3.37,2.47,3.08,3.96,3.12,2.90,3.15,3.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,3.95,3.71,3.36,2.42,3.09,4.03,3.18,2.50,3.48,3.63,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,3.90,3.59,3.20,2.36,2.97,4.01,2.85,2.39,2.51,3.49,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
#predvidi ocene s pomocjo KNN
predictions = predictor.test(testset)

In [10]:
from surprise import accuracy

#izracunaj MAE
mae_KNN = accuracy.mae(predictions, verbose=True)

MAE:  0.7285

In [11]:
#Slope one 

from surprise import SlopeOne
algo = SlopeOne()

#treniraj algoritem na trainsetu
algo.fit(trainset)

#predvidi ocene s pomocjo SlopeOne
predictions2 = algo.test(testset)

In [12]:
from surprise import accuracy

#izracunaj MAE
mae_slope = accuracy.mae(predictions2, verbose=True)

MAE:  0.6875

In [13]:
for i in range(stUserjev):  #usersLen
    for j in range(stFilmov): #moviesLen
        sample = user_movie_algo.sample(1)
        user_id = i
        book_id = j # id od enega sampla
        

        p = algo.predict(uid=user_id, iid=book_id)
        predicted_rating = p.est
        predicted_rating = str(round(predicted_rating, 2))

        user_movie_algo.iloc[i][j] = predicted_rating

In [14]:
user_movie_algo.head(10)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,3.50,3.50,3.50,3.50,3.50,3.50,3.50,3.50,3.50,3.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.66,4.05,4.06,2.69,3.34,4.66,3.52,3.31,3.21,4.26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.00,3.32,3.36,1.67,2.71,4.22,2.63,2.80,2.00,3.80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.89,2.14,2.38,1.03,1.43,2.62,1.47,1.59,1.17,2.49,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,3.71,3.08,3.27,1.88,2.30,3.75,2.53,2.38,2.16,3.06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,3.75,3.24,3.24,2.19,2.78,3.61,2.91,2.69,2.30,3.08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,4.24,3.89,4.09,2.84,3.75,4.19,3.58,3.12,2.99,3.53,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,3.62,3.01,3.08,1.80,2.48,3.73,2.33,2.30,1.94,3.26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,4.01,3.56,3.54,2.48,3.13,3.97,3.23,2.91,2.57,3.42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,3.68,3.09,3.38,1.24,2.26,3.96,2.59,2.39,2.29,3.30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#Naive

naive = raw["rating"].mean()

for i in range(stUserjev):  #usersLen
    for j in range(stFilmov): #moviesLen
        sample = user_movie_algo.sample(1)
        user_id = i
        book_id = j # id od enega sampla

        user_movie_naive.iloc[i][j] = round(naive, 2)

In [16]:
user_movie_naive

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
naive_pred = raw
naive_pred[naive]= 3.5

In [18]:
#Izracunaj MAE za naive predictor

rows_count = len(naive_pred.index)
summ = 0

for i in range(rows_count):
    summ += abs(naive_pred.rating[i] - naive_pred.iloc[i,3])
  
error = summ/rows_count
  
# display
print("MAE naive : ", str(error), "Mae user based: ",mae_KNN, " Mae slope one: ", mae_slope)

MAE naive :  0.8270458963068745 Mae user based:  0.7285165464882603  Mae slope one:  0.6874533365518835